<div class="row">
  <div class="col-12 col-xl-8 mb-4 mb-lg-0">
    <div class="card">
      <h5 class="card-header"><%= I18n.t('.latest_transactions') %></h5>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col"><%= I18n.t('.orders') %></th>
                <th scope="col"><%= I18n.t('.users') %></th>
                <th scope="col"><%= I18n.t('.phone') %></th>
                <th scope="col"><%= I18n.t('.data') %></th>
                <th scope="col"><%= I18n.t('.actions') %></th>
              </tr>
            </thead>
            <tbody>
              <% @latest_orders.each do |order| %>
                <tr>
                  <th>№ <%= order.id %></th>
                  <td><%= order.user.email %></td>
                  <td><%= order.user.phone_number %></td>
                  <td><%= order.created_at %></td>
                  <td>
                    <%= link_to admin_order_path(order), class: "btn btn-sm btn-outline-success" do %>
                      <span class="ms-2"><%= I18n.t('.open') %></span>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
                      </svg>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="d-grid">
          <%= link_to t('all_list'), admin_orders_path, class: 'btn btn-outline-success' %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-xl-4">
      <div class="card">
          <h5 class="card-header"><%= I18n.t('.traffic_last_6_months') %></h5>
          <div class="card-body">
            <div data-controller="chart"
                 data-translate-users="<%= I18n.t('.users') %>"
                 data-translate-active-users="<%= I18n.t('.active_users') %>"
                 data-chart-labels='<%= @admin_users_by_month.keys.map { |date| l(date, format: '%B %Y', locale: I18n.locale) } %>'
                 data-chart-data='<%= @admin_users_by_month.values %>'>
              <canvas data-chart-target="canvas"></canvas>
            </div>
          </div>
      </div>
  </div>
</div>
