<% content_for :title, I18n.t('orders') %>
<div class="row">
  <div class="col">
    <div class="card shadow-sm border-0">
      <div class="card-body">
        <h3 class="h4 mb-4 text-center"><%= I18n.t('all_your_orders') %></h3>

        <div class="table-responsive">
          <table class="table table-striped table-hover table-bordered border-secondary">
            <thead class="table-warning">
              <tr>
                <th scope="col"><%= I18n.t('.number') %></th>
                <th scope="col"><%= I18n.t('.status') %></th>
                <th scope="col"><%= I18n.t('.created_at') %></th>
                <th scope="col" class="text-end"><%= I18n.t('.actions') %></th>
              </tr>
            </thead>
            <tbody>
              <% @orders.each do |order| %>
                <tr>
                  <td><%= order.id %></td>
                  <td><%= order.order_status_name %></td>
                  <td><%= l(order.created_at, format: :long) %></td>
                  <td class="text-end">
                    <%= link_to "#{I18n.t('.open')}", order_path(order), class: "btn btn-sm btn-outline-secondary" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="mt-3 col d-flex justify-content-center">
          <%= paginate @orders %>
        </div>
      </div>
    </div>
  </div>
</div>
