<%= form_for [:admin, terms_of_use_site], url: admin_terms_of_use_site_path, html: { class: "form" } do |f| %>
  <div class="form-group mb-3">
    <%= render "shared/errors", resource: terms_of_use_site %>
  </div>

  <!-- Вкладки для переводов (Bootstrap 5) -->
  <ul class="nav nav-tabs" id="translationTabs" role="tablist">
    <% I18n.available_locales.each_with_index do |locale, i| %>
      <li class="nav-item" role="presentation">
        <button class="nav-link <%= 'active' if i == 0 %>" 
                id="<%= locale %>-tab" 
                data-bs-toggle="tab" 
                data-bs-target="#<%= locale %>" 
                type="button" 
                role="tab" 
                aria-controls="<%= locale %>" 
                aria-selected="<%= i == 0 %>">
          <%= locale.to_s.upcase %>
        </button>
      </li>
    <% end %>
  </ul>
  
  <!-- Содержимое вкладок -->
  <div class="tab-content mt-3" id="translationTabsContent">
    <% I18n.available_locales.each_with_index do |locale, i| %>
      <div class="tab-pane fade <%= 'show active' if i == 0 %>" 
           id="<%= locale %>" 
           role="tabpanel" 
           aria-labelledby="<%= locale %>-tab">
        <!-- Переводимые поля через Globalize -->
        <%= f.fields_for :translations, terms_of_use_site.translations.find_or_initialize_by(locale: locale) do |translation_fields| %>
          <%= translation_fields.hidden_field :locale, value: locale %>
          
          <div class="form-group mb-3">
            <%= translation_fields.label :name, I18n.t('.name'), class: "form-label" %>
            <%= translation_fields.text_field :name, class: "form-control" %>
          </div>
        <% end %>
          
        <div class="form-group mb-3">
          <%= f.label "description_#{locale}", I18n.t('.description'), class: "form-label" %>
          <%= f.rich_text_area "description_#{locale}", class: "form-control", style: "min-height: 300px;" %>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="form-group d-grid">
    <%= f.submit I18n.t('.save'), class: 'btn btn-sm btn-success' %>
  </div>
<% end %>
