<div class="row">
  <%= render 'nav' %>
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 my-4">
    <%= render 'admin/shared/breadcrumbs' %>

    <div class="contact-info">
      <%= render "admin/shared/attached_image", object: @contact %>
      <h1><%= @contact.name %></h1>
      <p><%= @contact.working_hours %></p>
      <p><%= @contact.email %></p>
      <p><%= @contact.phone %></p>
      <p><%= @contact.address %></p>
      <p><%= @contact.map_iframe.html_safe %></p>
    </div>

    <div class="btn-group mt-3">
      <%= button_to admin_contact_path(@contact),
          method: :delete,
          data: { turbo_confirm: t('are_you_sure') },
          class: "btn btn-danger",
          title: t('destroy') do %>
        <i class="bi bi-trash3-fill"></i>
      <% end %>

      <%= link_to edit_admin_contact_path(@contact), class: "btn btn-warning", title: t('edit') do %>
        <i class="bi bi-pencil-fill"></i>
      <% end %>
    </div>
  </main>
</div>
