<div class="col">
  <div class="card shadow-sm">
    <%= render "shared/attached_image", object: product %>
    <div class="card-body">
      <p class="card-text"><%= product.name %></p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <%= render "companies/cart_button", product: product, cart: @cart %>
          <%= button_to "<i class='bi bi-hand-index'></i>".html_safe, 
              cart_path, 
              method: :get,
              class: "btn btn-sm btn-outline-secondary",
              title: "#{I18n.t('.go_to_cart')}" %>
        </div>
        <%= link_to product_company_path(@company, product), 
            class: "btn btn-sm btn-outline-secondary",
            title: "#{I18n.t('.view')} →" do %>
          <i class="bi bi-eye"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>