<div class="row g-0 bg-body-tertiary position-relative mt-3">
  <div class="col-md-6 mb-md-0 p-md-4">
    <%= render "shared/attached_image", object: @company %>
  </div>

  <div class="col-md-6 p-4 ps-md-0">
    <h1 class="card-title h3 mb-3"><%= @company.name %></h1>

    <% if @company.description.present? %>
      <p class="card-text"><%= @company.description %></p>
    <% end %>

    <div class="mt-4">
      <%= link_to companies_path, class: "btn btn-sm btn-outline-secondary" do %>
        <i class="bi bi-arrow-left"></i>
        <span><%= I18n.t('.back_to_brands') %></span>
      <% end %>      
    </div>
  </div>
</div>

<div class="album py-5 bg-body-tertiary mt-2 px-2">
  <div class="container">
    <h3>
      <small class="text-body-secondary"><mark><%= I18n.t('.products') %> <%= @company.name %>:</mark></small>
    </h3>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
    <!--div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"-->
      <%= render partial: "companies/product", collection: @products if @products.present? %>
    </div>
    <div class="row mt-5">
      <div class="col d-flex justify-content-center">
        <%= paginate @products if @products.present? %>
      </div>
    </div>
  </div>
</div>