<div class="row">
  <%= render 'nav' %>
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 my-4">
    <%= render 'admin/shared/breadcrumbs' %>

    <h1><%= t('edit') %></h1>

    <%= render "form", about: @about %>

    <div class="btn-group mt-3">
      <%= link_to admin_about_path(@about), class: "btn btn-secondary", title: t('back') do %>
        <i class="bi bi-arrow-left-circle-fill"></i>
      <% end %>
    </div>
  </main>
</div>
