<div class="row">
  <%= render 'nav' %>
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 my-4">
    <%= render 'admin/shared/breadcrumbs' %>
    <h1><%= t('all_list') %></h1>
    <div class="table-responsive" 
         data-controller="datatables" 
         data-datatables-language-value="<%= I18n.locale %>" 
         data-datatables-options-value="<%= { 
           serverSide: true, 
           ajax: admin_products_path(format: :json), 
           processing: true,
           pageLength: 10
         }.to_json %>">
      <table class="table table-hover" data-datatables-target="table">
        <thead>
          <tr>
            <th scope="col"><%= ::Product.human_attribute_name(:name) %></th>
            <th scope="col"><%= ::Product.human_attribute_name(:updated_at) %></th>
            <th scope="col" class="text-end"><%= I18n.t('.actions') %></th>
          </tr>
        </thead>
        <tbody>
          <%# Данные будут загружены через Ajax %>
        </tbody>
      </table>
    </div>
    <% if can?(:create, Product) %>
      <div class="btn-group mt-3">
        <%= link_to t('new'), new_admin_product_path, method: :post, class: "btn btn-primary" %>
      </div>
    <% end %>
  </main>
</div>