<% content_for :title, I18n.t('product') %>
<% set_meta_tags(
  title: @product.name,
  description: @product.send("description_#{I18n.locale}").truncate(120, separator: ' '),
  image: (@product.image.attached? ? url_for(@product.image) : nil),
  url: product_url(@product),
  type: "product"
) %>

<div class="row g-0 bg-body-tertiary position-relative mt-3 shadow">
  <div class="col-md-6 mb-md-0 p-md-4">
    <%= render "shared/attached_image", object: @product %>
  </div>

  <div class="col-md-6 p-4 ps-md-0">
    <h1 class="card-title h3 mb-3"><%= @product.name %></h1>

    <p class="card-text"><%= @product.send("description_#{I18n.locale}") %></p>

    <% if @product.producer.present? %>
      <p class="card-text"><%= I18n.t('producer') %>: <%= @product.producer %></p>
    <% end %>

    <% if @product.price.present? %>
      <p class="card-text"><%= I18n.t('price') %>: <%= I18n.t('check_with_the_manager') %></p>
    <% end %>

    <% if @product.delivery_date.present? %>
      <p class="card-text"><%= I18n.t('delivery_date') %>: <%= I18n.t('check_with_the_manager') %></p>
    <% end %>

    <hr class="dropdown-divider">

    <div class="mt-4 btn-group">
      <%= render "companies/cart_button", product: @product, cart: @cart %>
      <%= button_to "<i class='bi bi-hand-index'></i>".html_safe, 
          cart_path, 
          method: :get,
          class: "btn btn-sm btn-outline-secondary",
          title: "#{I18n.t('.go_to_cart')}" %>
    </div>

    <div class="mt-4">
      <%= link_to products_path, class: "btn btn-sm btn-outline-secondary" do %>
        <i class="bi bi-arrow-left"></i>
        <span><%= I18n.t('.back_to_catalog') %></span>
      <% end %>
    </div>
  </div>
</div>
