<footer class="admin-footer mt-auto mb-auto fixed-bottom">
  <ul class="nav m-0 w-100 justify-content-end">
    <li class="nav-item">
      <a class="nav-link text-secondary" aria-current="page" href="https://kazniisa.kz">© <%= current_year %> <%= I18n.t('.jsc_kazrica') %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" aria-current="page" href="#"><%= I18n.t('.privacy_policy') %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="#"><%= I18n.t('.terms_and_conditions') %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="#"><%= I18n.t('.vacancy') %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="#"><%= I18n.t('.news') %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="#"><%= I18n.t('.about') %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="#"><%= I18n.t('.contacts') %></a>
    </li>
  </ul>
</footer>
