<nav class="navbar navbar-light data-bs-theme p-3 shadow-sm">
  <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
    <a class="navbar-brand" href="#"><%= I18n.t('.bim_templates') %></a>
    <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="col-12 col-md-5 col-lg-8 d-flex align-items-center justify-content-md-end mt-3 mt-md-0">
    <div class="d-flex align-items-center">
      <%= render 'admin/shared/lang' %>
      <%= render 'admin/shared/color_modes' %>
    </div>
    <div class="dropdown">
      <% if current_admin_user %>
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-person-fill"></i> <%= current_admin_user.first_name %> <%= current_admin_user.last_name %>
        </button>
        <ul class="dropdown-menu shadow" aria-labelledby="dropdownMenuButton">
          <li><%= button_to "<i class='bi bi-door-closed'></i> #{I18n.t('.sign_out')}".html_safe, destroy_admin_user_session_path, method: :delete, class: "dropdown-item" %></li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
